@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.ttf"); }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-LightItalic.ttf"); }
@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf"); }
#head #nav-head-cont {
  width: 100vw;
  max-width: 100%;
  height: 12vh;
  position: fixed; }
  #head #nav-head-cont #nav-head {
    transition: 0.2s;
    width: 100%;
    max-width: 100%;
    height: 12vh;
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    list-style-type: none;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif; }
    #head #nav-head-cont #nav-head #leftmenu i {
      margin-left: 5vw; }
      #head #nav-head-cont #nav-head #leftmenu i::before {
        padding: 0 3px;
        cursor: pointer; }
    #head #nav-head-cont #nav-head #title {
      font-size: large;
      letter-spacing: 0.175em;
      justify-content: center; }
    #head #nav-head-cont #nav-head #options {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      #head #nav-head-cont #nav-head #options li {
        flex: none; }
      #head #nav-head-cont #nav-head #options i::before {
        padding: 0 3px;
        cursor: pointer; }
      #head #nav-head-cont #nav-head #options #cart_btn {
        padding: 0 5px;
        display: flex;
        justify-content: flex-end; }
      #head #nav-head-cont #nav-head #options #user_btn {
        padding: 0 5px;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 5vw; }
    #head #nav-head-cont #nav-head li {
      flex: 1;
      display: flex;
      align-items: center; }
#head #intro_cont {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  background-color: white;
  padding: 10vh 0; }
  #head #intro_cont #intro_header_left {
    margin-left: 4vw;
    flex: 1 1 35%;
    background-image: url("../img/avocadoToast.jpg");
    background-size: cover; }
  #head #intro_cont #intro_header_right {
    margin-right: 4vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 10px; }
    #head #intro_cont #intro_header_right #intro_header_right_top {
      background-image: url("../img/burgerBig.jpeg");
      background-size: cover;
      background-position: center center; }
    #head #intro_cont #intro_header_right #intro_header_right_bottom {
      background-image: url("../img/food.jpg");
      background-size: cover; }
    #head #intro_cont #intro_header_right div {
      flex: 1 1 auto;
      height: auto;
      padding-right: 10vw; }
    #head #intro_cont #intro_header_right div:before {
      content: '';
      float: left;
      padding-top: 100%; }

body {
  background: white; }

#b_cont {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: stretch; }
  #b_cont #body {
    margin-left: 4vw;
    flex: 1 1 35%;
    background: #fcf5f5; }
    #b_cont #body #body_dio_cont #body_dio_header {
      font-family: 'Montserrat';
      margin-left: 0.5vh;
      padding: 2vh 0; }
      #b_cont #body #body_dio_cont #body_dio_header h4 {
        margin-left: 1vh; }
    #b_cont #body #body_dio_cont #body_dio_info {
      margin-left: 0.5vh;
      font-family: 'Raleway';
      padding: 2vh 0; }
    #b_cont #body #menu_cont hr {
      height: .1rem;
      width: 100%;
      margin: 0;
      background: rgba(0, 0, 0, 0.192);
      border: none;
      transition: .3s ease-in-out;
      margin: 0 0 2.5vh 0; }
    #b_cont #body #menu_cont #clientServiceChoice {
      padding: 5vh 0vw 0 0vw;
      font-family: 'Raleway';
      font-size: larger;
      width: 25%;
      white-space: nowrap; }
      #b_cont #body #menu_cont #clientServiceChoice li:first-child {
        color: black; }
      #b_cont #body #menu_cont #clientServiceChoice li {
        white-space: nowrap;
        display: inline;
        color: rgba(0, 0, 0, 0.3);
        transition: .4s;
        transition-timing-function: ease-out; }
        #b_cont #body #menu_cont #clientServiceChoice li a {
          display: inline-block;
          width: 50%;
          margin: 0;
          text-decoration: none; }
      #b_cont #body #menu_cont #clientServiceChoice hr {
        height: .25rem;
        width: 50%;
        margin: 0;
        background: #004b92;
        border: none;
        transition: .3s ease-in-out; }
    #b_cont #body #menu_cont #menu {
      margin-left: 0.5vw; }
      #b_cont #body #menu_cont #menu .menu_item_group:first-child h3 {
        padding: 5px 0 5px 0; }
      #b_cont #body #menu_cont #menu .menu_item_group {
        display: flex;
        flex-direction: column; }
        #b_cont #body #menu_cont #menu .menu_item_group h3 {
          font-size: 2em;
          padding: 35px 0 2px 0;
          text-transform: uppercase;
          font-family: 'Playfair Display';
          font-weight: 400;
          font-style: italic;
          font-style: bold; }
        #b_cont #body #menu_cont #menu .menu_item_group .itemCont {
          padding: 1px 1vw; }
          #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item:hover {
            border-color: #e9dddd;
            background-color: #e9dddd;
            cursor: pointer; }
          #b_cont #body #menu_cont #menu .menu_item_group .itemCont .selected {
            border-color: #e9dddd;
            background-color: #e9dddd; }
          #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item {
            padding: 4px;
            border: 1px solid transparent;
            font-family: 'Montserrat'; }
            #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item .extended-info.collapsed {
              height: 0px;
              overflow: hidden; }
            #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item .extended-info.extended {
              height: 100%;
              overflow: hidden; }
            #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item span {
              display: flex; }
              #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item span h4 {
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize; }
              #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item span p {
                font-size: 20px; }
            #b_cont #body #menu_cont #menu .menu_item_group .itemCont .item p {
              font-style: italic;
              padding: 2px 0 5px 0; }

#cart_cont {
  flex: 1;
  align-self: stretch;
  margin-right: 4vw;
  background: white;
  width: 10vh;
  display: flex;
  justify-content: center; }
  #cart_cont #cart {
    -webkit-box-shadow: 0px 2px 5px 0.2px #eababa;
    -moz-box-shadow: 0px 2px 5px 0.2px #eababa;
    box-shadow: 0px 2px 5px 0.2px #eababa;
    background: #fcf5f5;
    border: 1px solid #fcf5f5;
    width: 85%;
    height: 55vh;
    position: sticky;
    top: 14vh; }
    #cart_cont #cart .slidingCardCont {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      #cart_cont #cart .slidingCardCont#pt1 {
        z-index: 2;
        background: red; }
      #cart_cont #cart .slidingCardCont.pt2 {
        z-index: 1;
        background: blue; }
      #cart_cont #cart .slidingCardCont #title {
        width: 100%;
        padding: 1.75vh 0; }
        #cart_cont #cart .slidingCardCont #title p {
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 1.5em;
          text-align: center; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

/*# sourceMappingURL=main.css.map */
